{% extends "roundRobin/base.html" %}

{% block title %}Lista de Partidas | IPX1{% endblock %}

{% block content %}
    <div class="container">
        <h1>Todas as Partidas</h1>

        {% for round_data in rounds_list %}
            
            <h2 class="round-header">Rodada {{ round_data.round_number }}</h2>

            <ul class="match-list">
                
                {% for match in round_data.matches %}
                <li class="match-item">
                    
                    {% if match.status == STATUS_COMPLETED %}
                        <div class="match-players">
                            {% if match.series_winner == match.player1 %}
                                <span class="player-winner">{{ match.player1.username }}</span>
                                vs
                                <span class="player-loser">{{ match.player2.username }}</span>
                            {% else %}
                                <span class="player-winner">{{ match.player2.username }}</span>
                                vs
                                <span class="player-loser">{{ match.player1.username }}</span>
                            {% endif %}
                        </div>
                        <div class="match-details">
                            <span style="color: var(--win-color)">{{ match.get_win_condition_display }}</span>
                            <div>{{ match.duration }}</div>
                        </div>
                    
                    {% elif match.status == STATUS_LIVE %}
                        <div class="match-players">
                            <span style="color: var(--text-color)">{{ match.player1.username }}</span>
                            vs
                            <span style="color: var(--text-color)">{{ match.player2.username }}</span>
                        </div>
                        <div class="match-details">
                            <span style="color: var(--lose-color); font-weight: 700;">AO VIVO</span>
                        </div>

                    {% else %}
                        <div class="match-players">
                            <span style="color: var(--text-muted)">{{ match.player1.username }}</span>
                            vs
                            <span style="color: var(--text-muted)">{{ match.player2.username }}</span>
                        </div>
                        <div class="match-details">
                            <span class="match-scheduled-time">
                                {{ match.scheduled_time|date:"d/m H:i" }}
                            </span>
                        </div>
                    {% endif %}
                
                </li>
                {% endfor %}
            </ul>
        
        {% empty %}
            <p style="text-align: center;">Nenhuma partida agendada ou concluída no sistema.</p>
        {% endfor %}

    </div>
{% endblock %}